<app-header (sidenavToggle)="drawer.toggle()"/>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="container">
      <mat-list>
        <mat-list-item><a mat-button routerLink="/view/lines" routerLinkActive="mat-accent">Lines</a></mat-list-item>
        <mat-list-item><a mat-button routerLink="/view/stoppoints" routerLinkActive="mat-accent">Stop points</a>
        </mat-list-item>
        <mat-list-item><a mat-button routerLink="/view/schedules" routerLinkActive="mat-accent">Schedules</a>
        </mat-list-item>
        <mat-list-item><a mat-button routerLink="/view/spl" routerLinkActive="mat-accent">Stop point line
          correlation</a></mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>

  <router-outlet></router-outlet>
</mat-drawer-container>
