* {
  // Global reset
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-fluid {
  width: 100%;
}

.container {
  padding: 1rem 2rem;
}

.margin-bottom-sm {
  margin-bottom: 1rem !important;
}

.margin-right-sm {
  margin-right: 1rem;
}

.selected-card {
  border-width: 1px !important;
  border-color: red !important;

  box-shadow: 1px 1px 3px red !important;
}


