<div class="container">
  <div class="margin-bottom-sm">
    <button mat-raised-button color="primary" class="margin-right-sm" (click)="refreshLines()">Refresh</button>
    <a mat-stroked-button color="accent" routerLink="/add/line">Add new line</a>
  </div>
  <mat-divider class="margin-bottom-sm"/>
  <mat-grid-list cols="3" rowHeight="2:1" gutterSize="1rem">
    <mat-grid-tile *ngFor="let lineItem of linesList">
      <mat-card class="mat-card-fluid">
        <mat-card-header>
          <mat-card-title>Name: {{ lineItem.name }}</mat-card-title>
        </mat-card-header>
        <mat-divider class="margin-bottom-sm"/>
        <mat-card-content> Identifier: {{ lineItem.identifier }}</mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="handleEditLine(lineItem)">Edit</button>
          <button mat-button color="warn" (click)="handleDeleteLine(lineItem)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
