<div class="container">
  <form #splForm="ngForm" (ngSubmit)="handleSubmit(splForm)">
    <mat-stepper [linear]="true">
      <mat-step label="Select stop point" [completed]="selectedStopPoint !== null">
        <mat-card *ngFor="let stopPoint of stopPoints"
                  class="margin-right-sm margin-bottom-sm"
                  style="display: inline-block;"
                  [ngClass]="stopPoint === selectedStopPoint ? 'selected-card' : undefined"
                  (click)="handleSelectStopPoint(stopPoint)">
          <mat-card-header>
            <mat-card-title>Name: {{ stopPoint.name }}</mat-card-title>
          </mat-card-header>
          <mat-divider class="margin-bottom-sm"/>
          <mat-card-content>
            Identifier: {{ stopPoint.identifier }} <br>
            Lat: {{ stopPoint.lat }} <br>
            Long: {{ stopPoint.long }} <br>
            Street name: {{ stopPoint.streetName }}
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button type="button" (click)="handleSelectStopPoint(stopPoint)" color="warn">Select stop point
            </button>
          </mat-card-actions>
        </mat-card>
        <div>
          <button mat-button class="margin-right-sm" type="button" (click)="goBack()" color="warn">Back to list</button>
          <button mat-button type="button" matStepperNext>Next step</button>
        </div>
      </mat-step>
      <mat-step label="Select line" [completed]="selectedLine !== null">
        <mat-card *ngFor="let lineItem of lines"
                  class="margin-right-sm margin-bottom-sm"
                  style="display: inline-block;"
                  [ngClass]="lineItem === selectedLine ? 'selected-card' : undefined"
                  (click)="handleSelectLine(lineItem)">
          <mat-card-header>
            <mat-card-title>Name: {{ lineItem.name }}</mat-card-title>
          </mat-card-header>
          <mat-divider class="margin-bottom-sm"/>
          <mat-card-content> Identifier: {{ lineItem.identifier }}</mat-card-content>
          <mat-card-actions align="end">
            <button mat-button type="button" (click)="handleSelectLine(lineItem)" color="warn">Select stop point
            </button>
          </mat-card-actions>
        </mat-card>
        <div>
          <button mat-button type="button" matStepperPrevious>Back</button>
          <button mat-button type="button" matStepperNext>Next step</button>
        </div>
      </mat-step>
      <mat-step label="Confirm">
        <mat-card class="margin-bottom-sm"
                  style="display: inline-block; padding: 1rem;">
          <mat-card-header>
            <mat-card-title>Line: {{ selectedLine?.name }} <br>
              Stop point: {{ selectedStopPoint?.name }} ({{ selectedStopPoint?.identifier }})
            </mat-card-title>
          </mat-card-header>
        </mat-card>
        <div>
          <button mat-button type="button" matStepperPrevious>Back</button>
          <button mat-button type="submit" (click)="handleSubmit(splForm)" color="accent">Confirm</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>
